# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.auto.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Local OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
